.user {
    flex: 4;
    padding: 20px;
}

.userTittleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
}

.userContainer {
    display: flex;
    margin-top: 20px;
}

.userDisplay {
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 0 0 15px -10px #000000;
    box-shadow: 0 0 15px -10px #000000;
}

.userUpdate {
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: 0 0 15px -10px #000000;
    box-shadow: 0 0 15px -10px #000000;
    margin-left: 20px;
}

.userDisplayTop {
    display: flex;
    align-items: center;
}

.userDisplayTop img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.userShowTopTittle {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.userShowUsername {
    font-weight: 600;
}

.userShowuserTittle {
    font-weight: 300;
}

.userShowTittle {
    font-size: 14px;
    font-weight: 600;
    color: rgb(175, 170, 170);
}

.userDisplayBottom {
    margin-top: 20px;
}

.userShowInfo {
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: #444;
}

.userShowIcon {
    font-size: 16px !important;
}

.userShowInfoTittle {
    margin-left: 10px;
}

.userUpdateForm {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.userUpadateTittle {
    font-size: 24px;
    font-weight: 600;
}

.userUpdateUpload img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.userUpdateItem {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.userUpdateItem>label {
    margin-bottom: 10px;
    font-size: 14px;
}

.usernameInput {
    border: none;
    width: 250px;
    height: 30px;
    border-bottom: 1px solid gray;
    outline: none;
}

.userUpdateRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.userUpdateUpload {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.updateUserIcon {
    cursor: pointer;
}

.userUpdateButton {
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: darkblue;
    color: #fff;
    font-weight: 600;
}