.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    position: sticky;
    top: 50px;
    background-color: rgb(251, 251, 255);
}

.sidebarWrapper {
    padding: 20px;
    color: #555;
}

.sidebarMenu {
    margin-bottom: 10px;
}

.sidebarTitle {
    font-size: 13px;
    color: rgb(192, 188, 188);
}

.sidebarlist {
    list-style: none;
    padding: 5px;
}

.sidebarlist li {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
}

.sidebarlist li.active,
.sidebarlist li:hover {
    background-color: rgb(234, 234, 242);
}

.sidebarIcon {
    margin-right: 5px;
    font-size: 20px !important;
}